.scuro
{
background-color:#252525;
height:74px;
width:328px;
border-radius:6px;
padding-left:10px;
padding-right:10px;
padding-top:15px;
padding-bottom:15px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:10px;
position:relative;
}
.ellipse5
{
height:44px;
width:44px;
left:0px;
top:0px;
position:absolute;
}
.frame22
{
height:41px;
width:148px;
align-self:flex-start;
left:64px;
top:16.5px;
position:absolute;
padding:0px;
display:flex;
flex-direction:column;
gap:5px;
}
.boeing737max8
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
line-height:auto;
width:148px;
}
.ryanair
{
color:#6c6c6c;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
top:24px;
width:148px;
height:17px;
position:absolute;
line-height:17px;
}
.frame23
{
height:39px;
width:96px;
align-self:flex-start;
left:222px;
top:17.5px;
position:absolute;
padding:0px;
display:flex;
flex-direction:column;
gap:5px;
}
.ei-hat
{
color:#ffffff;
text-align:right;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
line-height:17px;
width:96px;
}
.h.
{
color:#ffffff;
text-align:right;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
top:22px;
width:96px;
height:17px;
position:absolute;
line-height:17px;
}
