.button-boldtext
{
background-color:#443cc7;
height:47px;
width:155px;
border-radius:20px;
padding:0px;
}
.extension
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
line-height:auto;
width:128px;
}
