.frame151
{
background-color:#201f1f;
height:196px;
width:335px;
border-radius:6px;
padding-left:14px;
padding-right:14px;
padding-top:12px;
padding-bottom:12px;
display:flex;
flex-direction:column;
gap:10px;
top:96px;
position:relative;
}
.frame148
{
height:37px;
width:300px;
padding-top:10px;
padding-bottom:10px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
top:9px;
left:17.5px;
}
.frame147
{
height:17px;
width:91px;
align-self:flex-start;
top:10px;
left:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:6px;
}
.lastcheck
{
color:#6c6c6c;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
line-height:17px;
width:73px;
}
.i
{
background-color:#ffffff;
height:12px;
width:12px;
align-self:flex-start;
left:79px;
top:2.5px;
position:absolute;
padding:0px;
}
.vector
{
background-color:#777777;
height:12px;
width:12px;
width:12px;
height:12px;
}
.november2022
{
color:#ffffff;
text-align:right;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
align-self:flex-start;
left:170px;
top:10px;
position:absolute;
line-height:17px;
width:130px;
}
.frame149
{
height:37px;
width:300px;
padding-top:10px;
padding-bottom:10px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
top:56px;
left:17.5px;
}
.frame1472
{
height:17px;
width:74px;
align-self:flex-start;
top:10px;
left:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:6px;
}
.provider
{
color:#6c6c6c;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
line-height:17px;
width:56px;
}
.i3
{
background-color:#ffffff;
height:12px;
width:12px;
align-self:flex-start;
left:62px;
top:2.5px;
position:absolute;
padding:0px;
}
.vector2
{
background-color:#777777;
height:12px;
width:12px;
width:12px;
height:12px;
}
.frame153
{
height:17px;
width:74.26667022705078px;
align-self:flex-start;
left:225.73px;
top:10px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:4px;
}
.mroitaly
{
color:#ffffff;
text-align:right;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
line-height:17px;
width:65px;
}
.frame1532
{
height:10.466653823852539px;
width:5.266668319702148px;
align-self:flex-start;
left:69px;
top:3.26px;
position:absolute;
padding-left:1px;
padding-top:3px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:8px;
}
.vector3
{
background-color:#ffffff;
height:7.466653347015381px;
width:4.266668319702148px;
width:4.266668319702148px;
height:7.466653347015381px;
left:1px;
top:3px;
width:4.266668319702148px;
height:7.466653347015381px;
position:absolute;
}
.frame150
{
height:37px;
width:300px;
padding-top:10px;
padding-bottom:10px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
top:7px;
left:17.5px;
}
.frame1473
{
height:17px;
width:52px;
align-self:flex-start;
top:10px;
left:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:6px;
}
.type
{
color:#6c6c6c;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
line-height:17px;
width:34px;
}
.i5
{
background-color:#ffffff;
height:12px;
width:12px;
align-self:flex-start;
left:40px;
top:2.5px;
position:absolute;
padding:0px;
}
.vector4
{
background-color:#777777;
height:12px;
width:12px;
width:12px;
height:12px;
}
.b-check
{
color:#ffffff;
text-align:right;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
align-self:flex-start;
left:236px;
top:10px;
position:absolute;
line-height:17px;
width:64px;
}
.frame1512
{
height:37px;
width:300px;
padding-top:10px;
padding-bottom:10px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
top:54px;
left:17.5px;
}
.transactionid
{
color:#6c6c6c;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
align-self:flex-start;
top:10px;
left:0px;
position:absolute;
line-height:17px;
width:97px;
}
.x67079afd6167
{
color:#ffffff;
text-align:right;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
align-self:flex-start;
left:185px;
top:10px;
position:absolute;
line-height:17px;
width:115px;
}
